body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
}

input{
padding:10px;
margin:6px;
width:80%;
}

button{
padding:10px;
margin:5px;
background:#22c55e;
border:none;
color:white;
cursor:pointer;
}

.card{
background:#1e293b;
margin:10px;
padding:15px;
border-radius:8px;
}

pre{
background:black;
padding:20px;
margin-top:20px;
}
